.login_hadding {
  margin-bottom: 30px;
}
.login_hadding h1 {
  font-family: var(--openSans);
  font-weight: var(--bold);
  color: var(--common_Color);
  font-size: 34px;
}
.login_google {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.google_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--common_Color);
  width: 220px;
  height: 62px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 20px;
}
.google_link:last-child {
  margin-right: 0;
}
.login_google .google_link img {
  padding-right: 10px;
}
.google_link p {
  font-family: var(--openSans);
  font-weight: var(--semiBold);
  color: var(--common_Color);
  font-size: 13px;
}
.login_area {
  width: 372px;
}
.gapping {
  margin-top: 60px;
}
.login_button {
  margin-top: 55px;
  margin-bottom: 44px;
}
.login_button_area {
  width: 372px !important;
  font-family: var(--openSans) !important;
  font-weight: var(--semiBold) !important;
  font-size: 20px !important;
  color: var(--white_Color) !important;
  text-transform: capitalize !important;
  padding: 15px 0 !important;
  background-color: var(--main_Color) !important;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.login_end {
  width: 372px;
  text-align: center;
}
.login_end span {
  font-family: var(--openSans);
  font-weight: var(--nunito);
  font-size: 13px;
  color: var(--common_Color);
}
.login_end .input_link {
  font-family: var(--openSans);
  font-weight: var(--bold);
  font-size: 13px;
  color: var(--orange_Color);
  text-transform: capitalize;
  text-decoration: none;
}
.login_end .input_link:hover {
  text-decoration: underline;
}
.facbook_img {
  width: 30px;
}
.login_forget {
  margin-bottom: 20px;
  width: 372px;
  text-align: center;
}
.login_forget a {
  font-family: var(--openSans);
  font-weight: var(--bold);
  font-size: 15px;
  color: var(--orange_Color);
  text-transform: capitalize;
}
.login_forget a:hover {
  text-decoration: underline;
}
